<div class="animate__animated animate__bounceInDown">
  <h2>Por Pais:</h2>
  <hr>
</div>

<div class="animate__animated animate__bounceInRight">
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event )"
        terminoBuscado="pais"
      />
    </div>
  </div>

  <ul class="list-group" *ngIf="mostrarSugerencias">
    <li *ngFor="let pais of paisesSugeridos;"
      class="list-group-item list-group-item-action">
      <a class="nav-link"
        [routerLink]="['/pais', pais.cca2]">
        {{ pais.name.common }}
      </a>
    </li>
    <li class="list-group-item list-group-item-action">
      <a class="nav-link"
         (click)="buscarSugerencias(termino)"
      >
        Buscar "{{termino}}"
      </a>
    </li>
  </ul>

  <hr class="mt-3">
</div>


<div
  *ngIf="hayError"
  class="alert alert-danger"
>
  No se encontro nada con el termino "{{ termino }}"
</div>

<div
  *ngIf="paises.length > 0"
  class="row">
  <div class="col">
    <!-- Volvere escribirlo por que se me va, esto se usa para pasar propiedades a componentes hijos,
    [nombre variable componente hijo]="propiedad que quiero pasar" -->
    <app-pais-tabla [paises]="paises"/>
  </div>
</div>


